@model TibcoCarRentals.Models.CarBooking

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CarBooking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinishDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinishDate)
        </dd>
        <dt>
            Days Taken
        </dt>
        <dd>
            @ViewData["DaysTaken"]
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.Car.ImageLocation)" class="singleImage" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
